/*
  Site container
*/

.container-2 {
  width: $container-width;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}
.container-2 a {
  text-decoration: none;
  background-color: transparent;
}
.posts-wrapper-2 {
  padding-top: $header-thickness+10px;
  margin: auto;
  display: block;
  width: $container-width - 20px;
  background-color: transparent;
}
.posts-wrapper-2 h1 {
  margin: 20px 0px 5px;
  background-color: transparent;
}
@media (max-width: $container-width) {
  .container-2 {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
  }
  .posts-wrapper-2 {
    padding-top: $header-thickness+10px;
    margin: auto;
    display: block;
    width: 95vw;
    background-color: transparent;
  }
}
