.scrollbounce {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 50%;
  color: RGB(100, 251, 130);
}

.scrollbounce::before {
  animation: bounce 4s ease infinite;
  color: RGB(100, 251, 130);
  content: '↓';
  font-size: 4rem;
  opacity: 0.8;
}

@keyframes bounce {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
