.scrollbounce {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 50%;
  color: green;
}

.scrollbounce::before {
  animation: bounce 5s ease infinite;
  color: green;
  content: '↓';
  font-size: 2rem;
  opacity: 0.8;
}

@keyframes bounce {
  20%, 100% {
    opacity: 0;
    transform: translateY(50%);
  }
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
}
