<head>

  <title>
    {%- if page.title == "Kyle&#39;s World" or page.title == "404: Delicious Disappearance" -%}
      {{ page.title }}
    {%- else -%}
      {{ page.title }} | {{ site.title }}
    {%- endif -%}
  </title>
  
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <script>
    // Firefox favicon hack, put no favicon for firefox and it will go to root dir
    if (navigator.userAgent.indexOf("Firefox") == -1) {
      var faviconSvg = document.createElement('link');
      faviconSvg.rel = 'icon';
      faviconSvg.type = 'image/svg+xml';
      faviconSvg.href = '/assets/img/favicon/favicon.svg';
      document.head.appendChild(faviconSvg);
      
      var faviconPng = document.createElement('link');
      faviconPng.rel = 'icon';
      faviconPng.type = 'image/png';
      faviconPng.href = '/assets/img/favicon/favicon.png';
      document.head.appendChild(faviconPng);
    }
  </script>
  <link rel="manifest" href="/assets/img/favicon/site.webmanifest">
  <link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#004000">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#6e9582">
  <meta name="description" content="Enjoy Your Stay!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">

  <link rel="stylesheet" href="/assets/css/main.css">
  <link rel="stylesheet" href="/assets/css/syntax.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Source+Code+Pro">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <style>
  ::-moz-selection { /* Code for Firefox */
    background: rgba(34, 139, 34, 0.5);
  }
  
  ::selection {
    background: rgba(34, 139, 34, 0.5);
  }
  </style>

</head>
