<header class="site-header-3">
  <h3 class="site-title-3">
    <a href="{{ site.github.url }}/">Kyle Timmermans</a>
  </h3>
  <nav class="menu-list-3">
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.folder }}/{{ item.file }}" class="menu-link-3">{{ item.name }}</a>
    {% endfor %}
  </nav>
  <div id="special-div" class="dropdown-content-3">
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/pages/{{ item.file }}" class="menu-link-3">{{ item.name }}</a>
    {% endfor %}
  </div>
  <script>
  // Fix hamburger menu hover on mobile
  function revealDropdown() {
    var x = document.getElementById("special-div");  // Dropdown content
    var y = document.getElementById("special-button");
    if (x.style.display === "none" || x.style.display === "") {  // If we have "" it means we're getting first read (Default state is hidden)
      x.style.display = "block";
      x.classList.add("dropdown-content-3");  // Fix position of dropdown menu
      y.style.backgroundColor = "#f1f1f1";
    } else {    // If its showing, hide
      x.style.display = "none";
      y.style.backgroundColor = "white";
    }
  }
  </script>
  <div class="dropdown-3">
    <button onclick="revealDropdown()" id="special-button" class="dropbtn-3"><i class="fa fa-bars" aria-hidden="true"></i></button>
  </div>
</header>
