<script>
if (window.mobileCheck()) {

    window.onload = function() {

        // Mobile Firefox sometimes doesn't start at the top of the page
        if (navigator.userAgent.indexOf("Firefox") != -1 || navigator.userAgent.indexOf("FxiOS") != -1) {
            document.body.scrollTop = document.documentElement.scrollTop = 0;
        }

        document.addEventListener('DOMContentLoaded', function () {
          // Get the dropdown button and the dropdown content
          var dropdownButton = document.querySelector('.dropbtn');
          var dropdownContent = document.querySelector('.dropdown-content');
        
          // Toggle the dropdown visibility when the button is clicked
          dropdownButton.addEventListener('click', function () {
            dropdownContent.style.display = (dropdownContent.style.display === 'block') ? 'none' : 'block';
          });
        
          // Close the dropdown when clicking anywhere else on the website
          document.addEventListener('click', function (event) {
            if (!event.target.matches('.dropbtn')) {
              dropdownContent.style.display = 'none';
            }
          });
        });
    };
}
</script>
