<header class="site-header-3">
  <h3 class="site-title-3">
    <a href="{{ site.github.url }}/">Kyle Timmermans</a>
  </h3>
  <nav class="menu-list-3">
    {% for item in site.data.settings.menu %}
      <a href="{{ site.github.url }}/{{ item.folder }}/{{ item.file }}" class="menu-link-3">{{ item.name }}</a>
    {% endfor %}
  </nav>
  <div class="dropdown-3">
    <button onclick="revealDropdown()" id="special-button" class="dropbtn-3"><i class="fa fa-bars" aria-hidden="true"></i></button>
    <div id="special-div" class="dropdown-content-3">
      {% for item in site.data.settings.menu %}
        <a href="{{ site.github.url }}{{ item.file }}" class="menu-link-3">{{ item.name }}</a>
      {% endfor %}
    </div>
  </div>
  <script>
  function revealDropdown() {
    var x = document.getElementById("special-div");  
    var y = document.getElementById("special-button");
    if (x.style.display === "none" || x.style.display === "") {  
      x.style.display = "block";
      x.style.top = "100%"; 
      y.style.backgroundColor = "#f1f1f1";
    } else { 
      x.style.display = "none";
      y.style.backgroundColor = "white";
    }
  }
  </script>
</header>
