<script>
if (window.mobileCheck()) {

    window.onload = function() {

        // Mobile Firefox sometimes doesn't start at the top of the page
        if (navigator.userAgent.indexOf("Firefox") != -1 || navigator.userAgent.indexOf("FxiOS") != -1) {
            document.body.scrollTop = document.documentElement.scrollTop = 0;
        }

        var dropbtn = document.getElementsByClassName('dropbtn')[0];

        function reveal() {
            dropbtn.classList.toggle("show");
        }

        dropbtn.addEventListener('click', reveal);

        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }
        
    };
}
</script>
