<script>
if (window.mobileCheck()) {

    window.onload = function() {

        // Mobile Firefox sometimes doesn't start at the top of the page
        if (navigator.userAgent.indexOf("Firefox") != -1 || navigator.userAgent.indexOf("FxiOS") != -1) {
            document.body.scrollTop = document.documentElement.scrollTop = 0;
        }

        // Dropdown menu open/close toggling
        function dropdownToggle() {
            console.log(1);
        }

        // Hook into button click
        var dropdown = document.getElementsByClassName('dropbtn')[0];
        dropdown.addEventListener('click', dropdownToggle);

        // If clicked anywhere besides the button, close
        window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
                console.log(2);
            }
        }

    };
}
</script>
