.footer {
  background: white;
  color: $brand-color;
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  width: $container-width;
  margin-top: 4.75vh;
}

.footer a {
  color: $brand-color;
  padding: 0px 12px 0px;
  text-decoration: none;
}

.footer .menu-link { font-size: 1.4vw; }
.footer .name-year { font-size: 1.2vw; }

@media (max-width: $container-width) {
  .footer {
    width: 95vw;
  }
}

/* Non-Mobile */
@media (hover: hover) and (pointer: fine) {
  /* Medium screens */
  @media screen and (min-height: 900px) and (max-height: 1199px) and (min-width: 1600px) and (max-width: 2099px) {
      .footer { width: 76.389vw; }
      .footer a { padding: 0px 12.5px 0px; }
      .footer .menu-link { font-size: 1.2vw; }
      .footer .name-year { font-size: 1.0vw; }
  }

  /* Big screens */
  @media screen and (min-width: 2100px) and (min-height: 1200px) {
      .footer { width: 76.389vw; }
      .footer a { padding: 0px 12.5px 0px; }
      .footer .menu-link { font-size: 1.0vw; }
      .footer .name-year { font-size: 0.85vw; }
  }
}

/* Very small mobile and very big mobile */
@media (hover: none) { 
    @media (pointer: none), (pointer: coarse) {
        /* Very small-width mobile */
        @media screen and (max-width: 399px) {
            .footer a { padding: 0px 2.35vw 0px; }
            .footer .menu-link { font-size: 5.60vw; }
            .footer .name-year { font-size: 5.25vw; }
        }

        /* Typical mobile screens */
        @media screen and (min-width: 400px) and (max-width: 599px) {
            .footer a { padding: 0px 2.8vw 0px; }
            .footer .menu-link { font-size: 5.60vw; }
            .footer .name-year { font-size: 5.25vw; }
        }

        /* Very big-width mobile */
        @media screen and (min-width: 600px) {
            .footer a { padding: 0px 2.8vw 0px; }
            .footer .menu-link { font-size: 4.10vw; }
            .footer .name-year { font-size: 3.75vw; }
        }
    }
}