.footer {
  background: white;
  color: $brand-color;
  text-align: center;
  min-height: 56px;
  line-height: 45px;
  width: $container-width;
  margin-top: 4.75vh;
}

.footer a {
  color: $brand-color;
  padding: 0px 10px 0px;
  text-decoration: none;
}

@media (max-width: $container-width) {
  .footer {
    width: 95vw;
  }
}

/* Non-Mobile */
@media (hover: hover) and (pointer: fine) {
  /* Medium screens */
  @media screen and (min-height: 900px) and (max-height: 1199px) and (min-width: 1600px) and (max-width: 2099px) {
      .footer { width: 76.389vw; }
      .footer .menu-link { font-size: 1.1vw; }
      .footer .name-year { font-size: 0.9vw; }
  }

  /* Big screens */
  @media screen and (min-width: 2100px) and (min-height: 1200px) {
      .footer { width: 76.389vw; }
      .footer .menu-link { font-size: 0.9vw; }
      .footer .name-year { font-size: 0.7vw; }
  }
}

/* Very small mobile and very big mobile */
@media (hover: none) { 
    @media (pointer: none), (pointer: coarse) {
        /* Very small-width mobile */
        @media screen and (max-width: 374px) {
            .footer a {
                padding-left: 2.15vw;
                padding-right: 2.15vw;
            }
        }

        /* Very big-width mobile */
        @media screen and (min-width: 600px) {
            .footer .menu-link { font-size: 3vw; }
            .footer .name-year { font-size: 3vw; }
        }
    }
}
