.site-header {
  min-height: 56px;
  width: $container-width;
  position: fixed;
  background-color: white;
  box-shadow: 0 5px 6px -6px #bbb;
  z-index: 100;
}
.site-header-home {
  min-height: 56px;
  width: $container-width;
  position: fixed;
  background-color: transparent;
  color: white;
  box-shadow: 0 5px 6px -6px #bbb;
  z-index: 100;
}
/* Medium screens */
@media screen and (min-height: 900px) and (max-height: 1199px) and (min-width: 1600px) and (max-width: 2099px) {
  .container { width: 76.389vw; }
  .site-header { min-height: 5vh; width: 76.389vw; }
  .site-header-home { min-height: 5vh; width: 76.389vw; }
  .site-header .menu-link { font-size: 1vw; padding-right: 0.50vw; }
  .site-header-home .menu-link { font-size: 1vw; padding-right: 0.50vw; }
  .site-title a { font-size: 1.50vw; }
}
/* Big screens */
@media screen and (min-width: 2100px) and (min-height: 1200px) {
  .container { width: 76.389vw; }
  .site-header { min-height: 4.7vh; width: 76.389vw; }
  .site-header-home { min-height: 4.7vh; width: 76.389vw; }
  .site-header .menu-link { font-size: 0.80vw; padding-right: 0.58vw; }
  .site-header-home .menu-link { font-size: 0.80vw; padding-right: 0.58vw; }
  .site-title a { font-size: 1.1vw; }
}
@media (max-width: $container-width) {
  .site-header {
    min-height: 56px;
    width: 95vw;
    position: fixed;
    background-color: white;
    box-shadow: 0 5px 6px -6px #bbb;
    z-index: 100;
  }
  .site-header-home {
    min-height: 56px;
    width: 95vw;
    position: fixed;
    background-color: transparent;
    color: white;
    box-shadow: 0 5px 6px -6px #bbb;
    z-index: 100;
  }
}
.site-header a {
  text-decoration: none;
}
.site-header-home a {
  text-decoration: white;
}
.site-title {
  font-size: 26px;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 10px;
  float: left;
}
.menu-list {
  line-height: $header-thickness;
  float: right;
}
.menu-link {
  padding: 5px 10px;
}

/*
  Responsiveness with a dropdown menu
*/

@media (min-width: $container-width + 1px) {
  .dropbtn {
    display: none;
  }
  .dropbtn-home {
    display: none;
  }
  .dropdown-content {
    display: none;
  }
}
@media (max-width: $container-width) {
  .menu-list {
    display: none;
  }
  .site-title {
    padding-right: 0.25rem;
  }
  .dropbtn {
    background-color: white;
    color: black;
    padding: 16px;
    margin-top: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropbtn-home {
    background-color: transparent;
    color: black;
    padding: 16px;
    margin-top: 4px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .dropbtn {
    background-color: #f1f1f1;
  }
  .dropdown:hover .dropbtn-home {
    background-color: transparent;
  }
}
