.scrollbounce {
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 50%;
  color: RGB(100, 251, 130);
  font-family: 'Roboto', sans-serif;
  transform: translateX(-50%);
}

.scrollbounce::before {
  animation: bounce 4s ease infinite;
  color: RGB(100, 251, 130);
  font-family: 'Roboto', sans-serif;
  content: '↓';
  font-size: 5rem;
  opacity: 0.8;
}

@keyframes bounce {
  20%, 100% {
    opacity: 0;
    transform: translateY(50%);
  }
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}


/* Medium screens */
@media screen and (min-height: 900px) and (max-height: 1199px) and (min-width: 1600px) and (max-width: 2099px) {
    .scrollbounce::before { font-size: 11.5vh; }
}

/* Big screens */
@media screen and (min-width: 2100px) and (min-height: 1200px) {
    .scrollbounce::before { font-size: 5vw; }
}
