$envelope-color: #f39c12;
$twitter-color: #00aced;
$github-color: #238636;
$linkedin-color: #0073a4;
$youtube-color: #ff0000;

@mixin social-media-icon($color) {
  /* Hover creates color when we have a mouse pointer */
  @media (hover: hover) and (pointer: fine) {
    -webkit-transition: 1.0s;
    -o-transition: 1.0s;
    -ms-transition: 1.0s;
    -moz-transition: 1.0s;
    transition: 1.0s;
    &:hover{
      color: $color;
    }
  }

  /* For touchscreen devices, just have color right away bc we can't hover */
  @media (hover: none) {
      @media (pointer: none), (pointer: coarse) {
          color: $color;
    }
  }
}

.fa-envelope {
  padding: 5px;
  @include social-media-icon($envelope-color);
}

.fa-twitter {
  padding: 5px;
  @include social-media-icon($twitter-color);
}

.fa-github {
  padding: 5px;
  @include social-media-icon($github-color);
}

.fa-linkedin {
  padding: 5px;
  @include social-media-icon($linkedin-color);
}

.fa-youtube {
  padding: 5px;
  @include social-media-icon($youtube-color);
}
