---
permalink: /projects/
redirect_from:
  - /Projects
  - /PROJECTS
  - /Project
  - /project
  - /Projects/
  - /PROJECTS/
  - /Project/
  - /project/
layout: page
title: Projects
---

<style>
/* Big non-mobile monitor */
@media (hover: hover) and (pointer: fine) {
    /* Medium screens */
    @media screen and (min-height: 900px) and (max-height: 1199px) and (min-width: 1600px) and (max-width: 2099px) {
          .posts-wrapper { width: calc(76.389vw - 25px); }
          .featured-posts { width: 73.611vw; height: 55.71vh; }
    }

    /* Big screens */
    @media screen and (min-width: 2100px) and (min-height: 1200px) {
          .posts-wrapper { width: calc(76.389vw - 50px); }
          .featured-posts { width: 73.611vw; height: 55.71vh; }
    }
}
</style>

{% for project in site.projects reversed %}
  <a href="{{ project.link }}" target="_blank">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/projects/{{ project.image }})">
      <h2><span>{{ project.title }}</span></h2>
    </div>
  </a>
  {% if forloop.last == false %}<div>&nbsp;</div>{% endif %}
{% endfor %}
