---
permalink: /videos/
redirect_from:
  - /Videos
  - /VIDEOS
  - /Video
  - /video
  - /Videos/
  - /VIDEOS/
  - /Video/
  - /video/
layout: page
title: Videos
---

{% for video in site.videos reversed %}
  <a href="{{ video.link }}" target="_blank">
    <div class="featured-posts" style="background-image:url({{ site.github.url }}/assets/img/{{ video.image }}){% if forloop.last == false %}; margin-bottom: 4.75vh;{% endif %}">
      <h2><span>{{ video.title }}</span></h2>
    </div>
  </a>
{% endfor %}
