<!DOCTYPE html>
<html>
    
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

{% include head.html %}  

<style>
    #center {
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        word-wrap: break-word; 
        white-space: normal;
    }
</style>
    
<body>
    
<div class="container">
   {% include header.html %}
  <div class="posts-wrapper">
    {{ content }}
  </div>
</div>
    
<!-- Line breaks to separate into lines and each before each break requires a new glitch class with a div tag wrap -->  
<div id="center"><h1 class="glitch" data-text="Enjoy">Enjoy</h1><div>
<br/>
<div id="center"><h1 class="glitch" data-text="your">your</h1><div>
<br/>
<div id="center"><h1 class="glitch" data-text="stay!">stay!</h1><div>
    
<body>
    
<div class="container"> {% include footer.html %} </div>

</body>
</html>
