<!DOCTYPE html>
<html>
    
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

{% include head.html %}  
    
<body>
    
<div class="container">
   {% include header.html %}
  <div class="posts-wrapper">
    {{ content }}
  </div>
</div>
    
<span><h1 class="glitch" data-text="Enjoy">Enjoy</h1></span>
<span><h1 class="glitch" data-text="Your">Your</h1></span>
<span><h1 class="glitch" data-text="Stay!">Stay!</h1></span>
    
<body>
    
<div class="container"> {% include footer.html %} </div>

</body>
</html>
