<!doctype html>
<html>
  
<style>
  .myvideo {
      display: block;
      height: auto;
      overflow: hidden;
      position: relative;
      padding-bottom: 56.7%; /* you can change this to match the width/height proportion of the video */
      background: red;
  }
</style>
  
<video autoplay muted loop id="myvideo">
  <source src="https://storm.cis.fordham.edu/~ktimmermans/timelapse4k.webm" type="video/webm">
</video>
  
{% include head.html %}

<body>

<div class="container">
  {% include header.html %}
  <div class="posts-wrapper">
    {{ content }}
  </div>
  {% include footer.html %}
</div>

</body>
</html>
