<!doctype html>
<html>
 
{% include head.html %}

<style>
 .myvideo {
   position: absolute;
   width: 100px;
   height: 100px;
 }
</style>
 
<body>

<script>
var welcome = ["Welcome", "Добро Пожаловать", "स्वागत", "환영", "ようこそ", "Bienvenue", "欢迎", "Willkommen", "خوش آمدید", "ברוך הבא", "Bienvenidos", "Fáilte", "Benvenuto"];
</script>

<video autoplay muted loop id="myvideo">
  <source src="https://storm.cis.fordham.edu/~ktimmermans/timelapse1080.mp4" type="video/mp4">
</video>
 
<div class="container">
  {% include header.html %}
  <div class="posts-wrapper">
    {{ content }}
  </div>
  {% include footer.html %}
</div>

</body>
</html>
