<!doctype html>
<html>

{% include head.html %}

<style>
    #video-bg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;
    }

    #video-bg > video {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
</style>
 
<body>

<div id="video-bg">
 <video autoplay muted loop>
   <source src="https://storm.cis.fordham.edu/~ktimmermans/croatia.webm" type="video/webm">
   Your browser does not support the video tag. Switch from mobile or upgrade browser!
 </video>
</div>
 
<div id="p2" class="container-3">
   {% include homeheader.html %}
  <div class="posts-wrapper-3">
    {{ content }}
  </div>
</div>

<div id="p1"><div>

<script>
// To create extra scrollable space to next page
var x = screen.height*2;  // Push past first page and create second page that is the size of browser window (dynamic)
document.getElementById("p1").style.paddingTop = x + "px"; // Value needs pixel unit

// Change white header text to black if it passed the video and is on top of white background.
// if currentScrollHeight > the target element top value + target element bottom value e.g. 0 + 900
window.addEventListener("scroll", function() {
 var elementTarget = document.getElementById("video-bg");
 if (window.scrollY > (elementTarget.offsetTop + elementTarget.offsetHeight)) {
    var y = document.getElementById("p2").innerHTML;  // Get header element
    y.style.color = "black";  // Change the text to black
 }
});

// Welcome text effect
var welcome = ["Welcome", "Добро пожаловать", "स्वागत", "환영", "ようこそ", "Bienvenue", "欢迎", "Willkommen", "خوش آمدید", "ברוך הבא", "Bienvenidos", "Fáilte", "Benvenuto"];
</script>
 
<div class="container"> {% include footer.html %} </div>
 
</body>
</html>
