<!DOCTYPE html>
<html>

{% include head.html %}

<head>
<script>
if (!window.mobileCheck()) {   // Redirect to mobile homepage if "check == true"
    window.location.replace("/");
}
</script>
</head>

<style>
@media screen and (orientation:landscape) {
    #center1 {
        padding-top: 5%;
    }
}
</style>
    
<body>

<script>
// ???
console.info("/rnfgrertt/");
</script>
    
<div class="container">
   {% include header.html %}
  <div class="posts-wrapper">
    <h1 class="glitch" data-text="Enjoy">Enjoy</h1>
    <h1 style="margin-top: -1vh; margin-bottom: -1vh" class="glitch" data-text="your">your</h1>
    <h1 class="glitch" data-text="stay!">stay!</h1>
  </div>
  {% include footer.html %}
</div> 
    
</body>
</html>
