<!DOCTYPE html>
<html>

{% include head.html %}

<head>
<script>
if (!window.mobileCheck()) {   // Redirect to mobile homepage if "check == true"
    window.location.replace("/");
}
</script>
</head>
    
<body>

<script>
// ???
console.info("/rnfgrertt/");
</script>
    
<div class="container">
   {% include header.html %}
  <div class="posts-wrapper" style="padding-bottom: 5%">
    <h1 class="glitch" style="margin-top: 7%; margin-bottom: -3%;" data-text="Enjoy">Enjoy</h1>
    <h1 class="glitch" style="margin-top: -3%; margin-bottom: -3%;" data-text="your">your</h1>
    <h1 class="glitch" style="margin-top: -3%;" data-text="stay!">stay!</h1>
  </div>
  {% include footer.html %}
</div> 
    
</body>
</html>
