<!DOCTYPE html>
<html lang="en" translate="no">

{% include head.html %}

<style>
.posts-wrapper {
    padding-top: 30%;
    padding-bottom: 10%;
}

/* Note: CSS media queries will not change inline CSS */
@media screen and (orientation:landscape) {
    .posts-wrapper {
        padding-top: 10%;
        padding-bottom: 5%;
    }
}
</style>
    
<body>

<div class="container">
   {% include header.html %}
  <div class="posts-wrapper">
    <h1 class="glitch" style="margin-bottom: -3%;" data-text="Enjoy">Enjoy</h1>
    <h1 class="glitch" style="margin-top: -3%; margin-bottom: -3%;" data-text="your">your</h1>
    <h1 class="glitch" style="margin-top: -3%;" data-text="stay!">stay!</h1>
  </div>
  {% include footer.html %}
</div>

<script>
// ???
console.info("HHH]<J=6D]H@C=5^62DE6C688^");
</script>
    
</body>
</html>
